# Lab 2

**Adam Aiken**

February 24th, 2025

In [65]:
import numpy as np
import pandas as pd
import datetime as datetime

In [66]:
kc = pd.read_csv('https://raw.githubusercontent.com/aaiken1/fin-data-analysis-python/main/data/kc_house_data.csv',
                      index_col=0)

The steps above are how we will usually begin. Import our libraries and then bring in our data.

In [67]:
kc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21613 entries, 7129300520 to 1523300157
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  object
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(14), object(1)
memory usage: 3.5+ MB

In [68]:
kc.index

Int64Index([7129300520, 6414100192, 5631500400, 2487200875, 1954400510,
            7237550310, 1321400060, 2008000270, 2414600126, 3793500160,
            ...
            7852140040, 9834201367, 3448900210, 7936000429, 2997800021,
             263000018, 6600060120, 1523300141,  291310100, 1523300157],
           dtype='int64', name='id', length=21613)

## Part 4

I clean up the date here. There are other ways to do this, but I like seeing how we can go from **text to an actual date**. Once Python and `pandas` knows that something is a date, you can use date-specific functions on the variable. Just like in Excel.

In [69]:
kc['date'] = kc['date'].str.replace('T000000','')

In [70]:
print(kc[['date', 'price', 'sqft_living']])

                date      price  sqft_living
id
7129300520  20141013 221,900.00         1180
6414100192  20141209 538,000.00         2570
5631500400  20150225 180,000.00          770
2487200875  20141209 604,000.00         1960
1954400510  20150218 510,000.00         1680
...              ...        ...          ...
263000018   20140521 360,000.00         1530
6600060120  20150223 400,000.00         2310
1523300141  20140623 402,101.00         1020
291310100   20150116 400,000.00         1600
1523300157  20141015 325,000.00         1020

[21613 rows x 3 columns]

In [71]:
kc[['date', 'price', 'sqft_living']]

                date      price  sqft_living
id
7129300520  20141013 221,900.00         1180
6414100192  20141209 538,000.00         2570
5631500400  20150225 180,000.00          770
2487200875  20141209 604,000.00         1960
1954400510  20150218 510,000.00         1680
...              ...        ...          ...
263000018   20140521 360,000.00         1530
6600060120  20150223 400,000.00         2310
1523300141  20140623 402,101.00         1020
291310100   20150116 400,000.00         1600
1523300157  20141015 325,000.00         1020

[21613 rows x 3 columns]

Do you see the difference between using a `print()` to show the three columns vs. just displaying them in the Jupyter Notebook?

## Part 5

Now, I'm going to format my date and check the variable types in the data set.

In [72]:
kc['date'] = pd.to_datetime(kc['date'], format='%Y%m%d')

kc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21613 entries, 7129300520 to 1523300157
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  datetime64[ns]
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(14)
memory usage: 3.5 MB

In [73]:
kc['year'] = pd.DatetimeIndex(kc['date']).year
kc['month'] = pd.DatetimeIndex(kc['date']).month

## Part 6

Let's take a look at our data. I'm going to use a variety of ways. Always peak at your data! Is it what you expect to see?

In [74]:
print(kc.shape)
print(kc.columns)

(21613, 22)
Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'year', 'month'],
      dtype='object')

In [75]:
kc.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month
count,"21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00",...,"21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00","21,613.00"
mean,"540,088.14",3.37,2.11,"2,079.90","15,106.97",1.49,0.01,0.23,3.41,7.66,...,291.51,"1,971.01",84.40,"98,077.94",47.56,-122.21,"1,986.55","12,768.46","2,014.32",6.57
std,"367,127.20",0.93,0.77,918.44,"41,420.51",0.54,0.09,0.77,0.65,1.18,...,442.58,29.37,401.68,53.51,0.14,0.14,685.39,"27,304.18",0.47,3.12
min,"75,000.00",0.00,0.00,290.00,520.00,1.00,0.00,0.00,1.00,1.00,...,0.00,"1,900.00",0.00,"98,001.00",47.16,-122.52,399.00,651.00,"2,014.00",1.00
25%,"321,950.00",3.00,1.75,"1,427.00","5,040.00",1.00,0.00,0.00,3.00,7.00,...,0.00,"1,951.00",0.00,"98,033.00",47.47,-122.33,"1,490.00","5,100.00","2,014.00",4.00
50%,"450,000.00",3.00,2.25,"1,910.00","7,618.00",1.50,0.00,0.00,3.00,7.00,...,0.00,"1,975.00",0.00,"98,065.00",47.57,-122.23,"1,840.00","7,620.00","2,014.00",6.00
75%,"645,000.00",4.00,2.50,"2,550.00","10,688.00",2.00,0.00,0.00,4.00,8.00,...,560.00,"1,997.00",0.00,"98,118.00",47.68,-122.12,"2,360.00","10,083.00","2,015.00",9.00
max,"7,700,000.00",33.00,8.00,"13,540.00","1,651,359.00",3.50,1.00,4.00,5.00,13.00,...,"4,820.00","2,015.00","2,015.00","98,199.00",47.78,-121.31,"6,210.00","871,200.00","2,015.00",12.00

In [76]:
kc[['price', 'bedrooms', 'bathrooms', 'sqft_living']].describe()

             price  bedrooms  bathrooms  sqft_living
count    21,613.00 21,613.00  21,613.00    21,613.00
mean    540,088.14      3.37       2.11     2,079.90
std     367,127.20      0.93       0.77       918.44
min      75,000.00      0.00       0.00       290.00
25%     321,950.00      3.00       1.75     1,427.00
50%     450,000.00      3.00       2.25     1,910.00
75%     645,000.00      4.00       2.50     2,550.00
max   7,700,000.00     33.00       8.00    13,540.00

I asked you to do use another method in the lab, but I think `pandas` has been updated and that this works better now. See the logic - I subset my data, apply the `.describe()` funciton, and then style the resulting data frame.

In [77]:
kc[['price', 'bedrooms', 'bathrooms', 'sqft_living']].describe().style.format("{:,.2f}")

In [78]:
kc.isna().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
year             0
month            0
dtype: int64

In [79]:
kc[['view', 'condition', 'grade']].nunique()

view          5
condition     5
grade        12
dtype: int64

## Part 7

In [80]:
print(kc['date'].min())
print(kc['date'].max())

2014-05-02 00:00:00
2015-05-27 00:00:00

In [81]:
kc['ym'] = kc['date'].dt.strftime('%Y-%m')

In [82]:
ym_groups = kc.groupby('ym')
print(ym_groups.ngroups)
print(ym_groups.size())

13
ym
2014-05    1768
2014-06    2180
2014-07    2211
2014-08    1940
2014-09    1774
2014-10    1878
2014-11    1411
2014-12    1471
2015-01     978
2015-02    1250
2015-03    1875
2015-04    2231
2015-05     646
dtype: int64

In [83]:
print(ym_groups['price'].mean())

ym
2014-05   548,080.28
2014-06   558,002.20
2014-07   544,788.76
2014-08   536,445.28
2014-09   529,253.82
2014-10   539,026.97
2014-11   521,961.01
2014-12   524,461.87
2015-01   525,870.89
2015-02   507,851.37
2015-03   543,977.19
2015-04   561,837.77
2015-05   558,126.81
Name: price, dtype: float64

In [84]:
kc.groupby('ym')['price'].mean()

ym
2014-05   548,080.28
2014-06   558,002.20
2014-07   544,788.76
2014-08   536,445.28
2014-09   529,253.82
2014-10   539,026.97
2014-11   521,961.01
2014-12   524,461.87
2015-01   525,870.89
2015-02   507,851.37
2015-03   543,977.19
2015-04   561,837.77
2015-05   558,126.81
Name: price, dtype: float64

In [85]:
kc.groupby('ym')['price'].agg([np.mean, np.median, np.std])

              mean     median        std
ym
2014-05 548,080.28 465,000.00 356,502.79
2014-06 558,002.20 465,000.00 388,260.13
2014-07 544,788.76 465,000.00 346,731.12
2014-08 536,445.28 442,100.00 370,583.43
2014-09 529,253.82 450,000.00 372,531.67
2014-10 539,026.97 446,900.00 399,243.06
2014-11 521,961.01 435,000.00 355,710.23
2014-12 524,461.87 432,500.00 353,292.72
2015-01 525,870.89 438,500.00 366,053.60
2015-02 507,851.37 425,545.00 325,998.28
2015-03 543,977.19 450,000.00 355,051.20
2015-04 561,837.77 476,500.00 369,928.88
2015-05 558,126.81 455,000.00 414,821.96

I'm using that `.style` again here. Looks pretty good!

In [86]:
kc.groupby(['year', 'month'])['price'].agg([np.mean, np.median, np.std]).style.format("{:,.2f}")

## Part 8

Use `.loc` to select the observations (rows) and variables (columns) that you want. Note that you have to pass it a **list** of columns.

In [87]:
kc.loc[:,['date', 'price', 'sqft_living']]

                 date      price  sqft_living
id
7129300520 2014-10-13 221,900.00         1180
6414100192 2014-12-09 538,000.00         2570
5631500400 2015-02-25 180,000.00          770
2487200875 2014-12-09 604,000.00         1960
1954400510 2015-02-18 510,000.00         1680
...               ...        ...          ...
263000018  2014-05-21 360,000.00         1530
6600060120 2015-02-23 400,000.00         2310
1523300141 2014-06-23 402,101.00         1020
291310100  2015-01-16 400,000.00         1600
1523300157 2014-10-15 325,000.00         1020

[21613 rows x 3 columns]

In [88]:
kc.loc[5631500400,:]

date             2015-02-25 00:00:00
price                     180,000.00
bedrooms                           2
bathrooms                       1.00
sqft_living                      770
sqft_lot                       10000
floors                          1.00
waterfront                         0
view                               0
condition                          3
grade                              6
sqft_above                       770
sqft_basement                      0
yr_built                        1933
yr_renovated                       0
zipcode                        98028
lat                            47.74
long                         -122.23
sqft_living15                   2720
sqft_lot15                      8062
year                            2015
month                              2
ym                           2015-02
Name: 5631500400, dtype: object

In [89]:
kc.iloc[10:26,2:6]

            bedrooms  bathrooms  sqft_living  sqft_lot
id
1736800520         3       2.50         3560      9796
9212900260         2       1.00         1160      6000
114101516          3       1.00         1430     19901
6054650070         3       1.75         1370      9680
1175000570         5       2.00         1810      4850
9297300055         4       3.00         2950      5000
1875500060         3       2.00         1890     14040
6865200140         4       1.00         1600      4300
16000397           2       1.00         1200      9850
7983200060         3       1.00         1250      9774
6300500875         4       1.75         1620      4980
2524049179         3       2.75         3050     44867
7137970340         5       2.50         2270      6300
8091400200         2       1.50         1070      9643
3814700200         3       2.25         2450      6500
1202000200         3       2.00         1710      4697

In [90]:
kc[kc['ym'] == '2014-12']

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,ym
id,,,,,,,,,,,,,,,,,,,,,
6414100192,2014-12-09,"538,000.00",3,2.25,2570,7242,2.00,0,0,3,...,1951,1991,98125,47.72,-122.32,1690,7639,2014,12,2014-12
2487200875,2014-12-09,"604,000.00",4,3.00,1960,5000,1.00,0,0,5,...,1965,0,98136,47.52,-122.39,1360,5000,2014,12,2014-12
16000397,2014-12-05,"189,000.00",2,1.00,1200,9850,1.00,0,0,4,...,1921,0,98002,47.31,-122.21,1060,5095,2014,12,2014-12
3303700376,2014-12-01,"667,000.00",3,1.00,1400,1581,1.50,0,0,5,...,1909,0,98112,47.62,-122.31,1860,3861,2014,12,2014-12
2426039314,2014-12-01,"280,000.00",2,1.50,1190,1265,3.00,0,0,3,...,2005,0,98133,47.73,-122.36,1390,1756,2014,12,2014-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1043000100,2014-12-11,"370,000.00",4,2.50,2531,6843,2.00,0,0,3,...,2013,0,98030,47.38,-122.19,2604,6238,2014,12,2014-12
6669080120,2014-12-15,"405,000.00",4,2.50,1980,5020,2.00,0,0,3,...,2007,0,98056,47.51,-122.19,1980,5064,2014,12,2014-12
1220000371,2014-12-31,"327,500.00",3,2.50,1820,1866,2.00,0,0,3,...,2008,0,98166,47.46,-122.35,1660,6900,2014,12,2014-12
1561750040,2014-12-24,"1,375,000.00",5,4.50,4350,13405,2.00,0,0,3,...,2014,0,98074,47.60,-122.06,3990,7208,2014,12,2014-12
952006823,2014-12-02,"380,000.00",3,2.50,1260,900,2.00,0,0,3,...,2007,0,98116,47.56,-122.38,1310,1415,2014,12,2014-12

In [91]:
kc[(kc['date'] >= '2014-12-01') & (kc['date'] <= '2014-12-07')]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,ym
id,,,,,,,,,,,,,,,,,,,,,
16000397,2014-12-05,"189,000.00",2,1.00,1200,9850,1.00,0,0,4,...,1921,0,98002,47.31,-122.21,1060,5095,2014,12,2014-12
3303700376,2014-12-01,"667,000.00",3,1.00,1400,1581,1.50,0,0,5,...,1909,0,98112,47.62,-122.31,1860,3861,2014,12,2014-12
2426039314,2014-12-01,"280,000.00",2,1.50,1190,1265,3.00,0,0,3,...,2005,0,98133,47.73,-122.36,1390,1756,2014,12,2014-12
7955080270,2014-12-03,"322,500.00",4,2.75,2060,6659,1.00,0,0,3,...,1981,0,98058,47.43,-122.16,2020,8720,2014,12,2014-12
9528102996,2014-12-07,"549,000.00",3,1.75,1540,1044,3.00,0,0,3,...,2014,0,98115,47.68,-122.32,1580,3090,2014,12,2014-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7203140360,2014-12-01,"359,782.00",3,2.50,1850,3400,2.00,0,0,3,...,2010,0,98053,47.69,-122.01,1850,3400,2014,12,2014-12
7169500020,2014-12-05,"510,000.00",2,2.25,1470,1101,2.00,0,0,3,...,2005,0,98115,47.68,-122.30,1470,1582,2014,12,2014-12
2311400056,2014-12-01,"1,987,500.00",5,3.50,5230,8960,2.00,0,0,3,...,2014,0,98004,47.60,-122.20,2310,9603,2014,12,2014-12
5637500082,2014-12-03,"346,000.00",3,2.00,1060,1184,2.00,0,0,3,...,2006,0,98136,47.54,-122.39,1270,1601,2014,12,2014-12
952006823,2014-12-02,"380,000.00",3,2.50,1260,900,2.00,0,0,3,...,2007,0,98116,47.56,-122.38,1310,1415,2014,12,2014-12

Here are some examples using `.query`. I can show (or save to a new data frame) just observations (rows) where a particular variable (column) meets a certain criteria.

In [92]:
kc.query('price > 5000000')

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,ym
id,,,,,,,,,,,,,,,,,,,,,
1247600105,2014-10-20,"5,110,800.00",5,5.25,8010,45517,2.00,1,4,3,...,1999,0,98033,47.68,-122.21,3430,26788,2014,10,2014-10
7558700030,2015-04-13,"5,300,000.00",6,6.00,7390,24829,2.00,1,4,4,...,1991,0,98040,47.56,-122.21,4320,24619,2015,4,2015-04
8907500070,2015-04-13,"5,350,000.00",5,5.00,8000,23985,2.00,0,4,3,...,2009,0,98004,47.62,-122.22,4600,21750,2015,4,2015-04
9808700762,2014-06-11,"7,062,500.00",5,4.50,10040,37325,2.00,1,2,3,...,1940,2001,98004,47.65,-122.21,3930,25449,2014,6,2014-06
2470100110,2014-08-04,"5,570,000.00",5,5.75,9200,35069,2.00,0,0,3,...,2001,0,98039,47.63,-122.23,3560,24345,2014,8,2014-08
6762700020,2014-10-13,"7,700,000.00",6,8.00,12050,27600,2.50,0,3,4,...,1910,1987,98102,47.63,-122.32,3940,8800,2014,10,2014-10
9208900037,2014-09-19,"6,885,000.00",6,7.75,9890,31374,2.00,0,4,3,...,2001,0,98039,47.63,-122.24,4540,42730,2014,9,2014-09

In [93]:
kc.query('price > 1000000' and 'bedrooms >= 5')

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,ym
id,,,,,,,,,,,,,,,,,,,,,
1175000570,2015-03-12,"530,000.00",5,2.00,1810,4850,1.50,0,0,3,...,1900,0,98107,47.67,-122.39,1360,4850,2015,3,2015-03
7137970340,2014-07-03,"285,000.00",5,2.50,2270,6300,2.00,0,0,3,...,1995,0,98092,47.33,-122.17,2240,7005,2014,7,2014-07
7203220400,2014-07-07,"861,990.00",5,2.75,3595,5639,2.00,0,0,3,...,2014,0,98053,47.68,-122.02,3625,5639,2014,7,2014-07
7231300125,2015-02-17,"345,000.00",5,2.50,3150,9134,1.00,0,0,4,...,1966,0,98056,47.49,-122.19,1990,9133,2015,2,2015-02
4217401195,2015-03-03,"920,000.00",5,2.25,2730,6000,1.50,0,0,3,...,1927,0,98105,47.66,-122.28,2730,6000,2015,3,2015-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7168100015,2014-10-09,"579,950.00",5,2.75,3080,5752,2.00,0,0,3,...,2014,0,98059,47.49,-122.15,3000,4650,2014,10,2014-10
9253900271,2015-01-07,"3,567,000.00",5,4.50,4850,10584,2.00,1,4,3,...,2007,0,98008,47.59,-122.11,3470,18270,2015,1,2015-01
8672200110,2015-03-17,"1,088,000.00",5,3.75,4170,8142,2.00,0,2,3,...,2006,0,98056,47.54,-122.18,3030,7980,2015,3,2015-03
7502800100,2014-08-13,"679,950.00",5,2.75,3600,9437,2.00,0,0,3,...,2014,0,98059,47.48,-122.13,3550,9421,2014,8,2014-08
249000205,2014-10-15,"1,537,000.00",5,3.75,4470,8088,2.00,0,0,3,...,2008,0,98004,47.63,-122.20,2780,8964,2014,10,2014-10